/* Global */

body{

  padding: 5vw;
  font-family: "Patrick Hand", cursive;
}

.loader{
  padding-left: 10px;
}

/* Login.jsx */

#login-container{

  height: 50vh;
  
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#login-container-secondary{

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: start;

  gap: 2.5px;
}

#login-header{

  font-family: "Itim", cursive;
  
  text-decoration: none;
  color: black;

  font-size: 4rem;
  margin: 25px 0;

  padding-left: 20px;
}

#login-header:hover{
  text-decoration: underline;
}

#login-form-container{

  display: flex;
  flex-direction: column;

  gap: 10px;
}

#login-form-container, #login-form-container form input, #login-form-container form button{

  padding: 7.5px;
  margin: 1px;

  font-family: "Patrick Hand", cursive;
  border-radius: 10px;
}

#login-form-container form{

  border: 1px dashed black;
  border-radius: 10px;

  padding: 25px;
}

#login-info{

  padding-left: 10px;
  padding-bottom: 10px;
}

#login-failed-info, #post-failed-info{

  color: #800000;
  font-size: 0.8rem;

  padding: 10px;
  padding-left: 20px;
}

#publish-status-failed-info{

  color: #800000;
  font-size: 0.8rem;

  padding: 10px;
}

.display-on{
  display: block;
}

.display-off{
  display: none;
}

#login-username, #login-password{

  border: 1px solid grey;
  width: 200px;
}

#login-form-container form button{
  border: 1px solid grey;
} 

#public-url-container{

  padding-left: 20px;
}

#public-url{

  color: black;
  text-decoration: none;

  padding-left: 2.5px;
}

#public-url:hover{
  text-decoration: underline;
}

/* Header.jsx */

#top-nav{

  display: flex;
  justify-content: space-between;

  padding: 0 10px;
  padding-bottom: 20px;
}

/* Header.jsx - Section A */

#header{

  font-family: "Itim", cursive;
  
  text-decoration: none;
  color: black;

  font-size: 2.5rem;
  margin: 25px 0;
}

#header:hover{
  text-decoration: underline;
}

/* Header.jsx - Section B */

#header-info-container{

  display: flex;
  align-items: center;

  gap: 25px;
}

#header-info{

  display: flex;
  flex-direction: column;
  
  align-items: end;
  
  font-size: 1.1rem;
}

#tool-container{

  display: flex;
  gap: 10px;
}

#author-container a{

  font-size: 1.25rem;

  text-decoration: none;
  color: black;

  border: 2px dashed black;
  border-radius: 10px;

  padding: 7.5px 17px;
}

#author-container a:hover{

  border: 2px solid black;
  text-decoration: underline;
}

#create-post{

  text-decoration: none;
  color: black;
}

#create-post:hover{
  text-decoration: underline;
}

#post-count{
  margin: 0;
}

/* UserDetail.jsx */

#author-details{

  border: 1px solid black;
  border-radius: 10px;

  padding: 25px;
}

#author-details-palette{

  display: flex;
  justify-content: space-between;
}

#authorName{
  font-size: 1.4rem;
}

.user-detail-options{

  display: flex;
  justify-content: space-between;

  gap: 25px;
}

.log-out a{

  text-decoration: none;
  color: black;
}

.log-out a:hover{
  text-decoration: underline;
}

.log-out-expiration-info{

  padding: 10px;
  padding-left: 25px;

  font-size: 0.9rem;
}

/* Dashboard.jsx */

#list-container{

  display: flex;
  justify-content:space-between;

  gap: 10px;
  flex-direction: column;

  padding: 10px 0px;
}

.list-item{

  padding: 10px;
  
  display: flex;
  
  align-items: center;
  justify-content: space-between;

  border: 2px solid black;
  border-radius: 10px;
}

/* Dashboard.jsx - Section A */

.list-item-info{

  display: flex;

  gap: 2px;
  flex-direction: column;
}

.item-title{
  font-size: 1.25rem;
}

.item-title a{

  text-decoration: none;
  color: black;
}

.item-title a:hover{
  text-decoration: underline;
}

.item-timestamp{

  padding-left: 2.5px;
  font-size: 0.8rem;
}

/* Dashboard.jsx - Section B */

.list-item-tools{

  display: flex;

  justify-content: space-between;
  align-items: center;

  gap: 35px;
}

.item-edit a{

  text-decoration: none;
  color: black;
}

.item-edit a:hover{
  text-decoration: underline;
}

.item-delete a{

  text-decoration: none;
  color: black;
}

.item-delete a:hover{
  text-decoration: underline;
}

.item-publish-status button{

  display: inline-block;
  width: 100px;

  text-align: center;

  padding: 10px 5px;

  border: 2px solid black;
  border-radius: 10px; 

  text-decoration: none;
  color: black;

  background-color: white;
}

.item-publish-status button:hover{

  border: 2px dashed black;
  border-radius: 10px;
}

/* Dashboard.jsx - Section B - Publish/Unpublish Button(s) */
/* Alternate Spans/Text - Custom Styling  */

/* publish Block */

#publish-secondary{
  display: none;
}

#publish-tertiary{
  display: none;
}

/* :hover Actions */

.publish-button:hover #publish-primary{
  display: none;
}

.publish-button:hover #publish-secondary{
  display: inline;
}

/* :active Actions */

.publish-button:active #publish-primary{
  display: none;
}

.publish-button:active #publish-secondary{
  display: none;
}

.publish-button:active #publish-tertiary{
  display: inline;
}

/* unpublish Block */

#unpublish-secondary{
  display: none;
}

#unpublish-tertiary{
  display: none;
}

/* :hover Actions */

.unpublish-button:hover #unpublish-primary{
  display: none;
}

.unpublish-button:hover #unpublish-secondary{
  display: inline;
}

/* :active Actions */

.unpublish-button:active #unpublish-primary{
  display: none;
}

.unpublish-button:active #unpublish-secondary{
  display: none;
}

.unpublish-button:active #unpublish-tertiary{
  display: inline;
}

/* PostDetail.jsx */

#post-detail-container, .comments-container, .comment, #comment-creator{
  padding: 0 10px;
}

#post-detail-container{

  border: 1px solid gray;
  border-radius: 10px;

  padding: 25px;

  display: flex;
  flex-direction: column;

  gap: 50px;
}

.post-title a{

  text-decoration: none;
  color: black;

  font-size: 1.25rem;
}

.post-title a:hover{

  text-decoration: underline;
}

.post-body{

  padding-left: 2.5px;
  font-size: 1rem;
}

.post-detail-footer{

  display: flex;
  justify-content: space-between;
}

.post-detail-tools{

  display: flex;
  gap: 25px;

  font-size: 0.9rem;
}

.post-timestamp-container{

  display: flex;
  gap: 25px;
}

.post-timestamp{

  align-self: flex-end;
  font-size: 0.9rem;
}

#comments-header{
  margin-bottom: 7.5px;
}

.comments-container{

  display: flex;
  flex-direction: column;

  gap: 10px;
}

.comment{

  display: flex;
  
  justify-content: space-between;
  align-items: center;

  border: 2px dashed black;
  border-radius: 10px;

  padding: 5px 10px;
  margin: 0px 10px;
}

.comment-details{

  display: flex;
  gap: 5px;
}

.comment-username a{

  text-decoration: none;
  color: black;

  font-style: italic;
}

.comment-username a:hover{
  text-decoration: underline;
}

.comment-tools{

  display: flex;
  gap: 25px;

  font-size: 0.9rem;
}

#no-comments{
  padding-left: 10px;
}

#form-container form input, #form-container form textarea, #form-container form button{

  border: 1px solid gray;
  border-radius: 10px;

  padding: 7.5px;
  margin: 1px;

  font-family: "Patrick Hand", cursive;
}

#body-input{
  margin-bottom: 0;
}

#email-input{
  width: 150px;
}

#post-input{
  width: 130px;
}

#submit-button{
  background-color: white;
}

#submit-button:hover{

  cursor: pointer;

  background-color: black;
  color: white;
}

#comment-details{

  border: 1px solid gray;
  border-radius: 10px;

  padding: 25px;

  display: flex;
  flex-direction: column;

  gap: 10px;
}

#comment-header{
  font-size: 1.5rem;
}

#comment-header a{

  text-decoration: none;
  color: black;
}

#comment-header a:hover{
  text-decoration: underline;
}

#comment-detail-body{
  padding-left: 10px;
}

/* PostCreator.jsx */

#post-creator{

  display: flex;
  flex-direction: column;

  gap: 10px;
  padding: 10px;
}

#title{
  width: 400px;
}

#timestamp{
  width: 280px;
}

/* PostDelete.jsx */

#delete-dialog{
  padding: 10px;
}

#delete-message{
  font-size: 1.25rem;
}

.delete-info{
  
  font-size: 0.9rem;
  padding-left: 10px;
}

#delete-button, #cancel-button{

  color: black;
  text-decoration: none;

  font-size: 0.9rem;
  background-color: white;

  border: 2px solid grey;
  border-radius: 10px;

  padding: 7.5px;
  margin: 1px;

  margin-left: 5px;

  font-family: "Patrick Hand", cursive;
}

#delete-button:hover, #cancel-button:hover{

  cursor: pointer;

  background-color: black;
  color: white;
}

/* CommentDetail.jsx */

#comment-header-container{

  display: flex;
  justify-content: space-between;
}

#comment-tools{

  display: flex;
  gap: 25px;
}

.comment-timestamp-container{

  display: flex;
  gap: 25px;

  font-size: 0.9rem;
}