/* Global */

body{

  padding: 5vw;
  font-family: "Patrick Hand", cursive;
}

/* Header.jsx */

#top-nav{

  display: flex;
  justify-content: space-between;

  padding: 0 10px;
  padding-bottom: 30px;
}

/* Header.jsx - Section A */

#header{

  font-family: "Itim", cursive;
  
  text-decoration: none;
  color: black;

  font-size: 2.5rem;
  margin: 25px 0;
}

#header:hover{
  text-decoration: underline;
}

/* Header.jsx - Section B */

#header-info{

  display: flex;
  flex-direction: column;
  
  align-items: end;
  
  font-size: 1.1rem;
}

#create-post{

  text-decoration: none;
  color: black;
}

#create-post:hover{
  text-decoration: underline;
}

#post-count{
  margin: 0;
}

/* Dashboard.jsx */

#list-container{

  display: flex;
  justify-content:space-between;

  gap: 10px;
  flex-direction: column;

  padding: 10px 0px;
}

.list-item{

  padding: 10px;
  
  display: flex;
  
  align-items: center;
  justify-content: space-between;

  border: 2px solid black;
  border-radius: 10px;
}

/* Dashboard.jsx - Section A */

.list-item-info{

  display: flex;

  gap: 2px;
  flex-direction: column;
}

.item-title{
  font-size: 1.25rem;
}

.item-title a{

  text-decoration: none;
  color: black;
}

.item-title a:hover{
  text-decoration: underline;
}

.item-timestamp{

  padding-left: 2.5px;
  font-size: 0.8rem;
}

/* Dashboard.jsx - Section B */

.list-item-tools{

  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 20vw;
}

.item-edit a{

  text-decoration: none;
  color: black;
}

.item-edit a:hover{
  text-decoration: underline;
}

.item-delete a{

  text-decoration: none;
  color: black;
}

.item-delete a:hover{
  text-decoration: underline;
}

.item-publish-status button{

  display: inline-block;
  width: 100px;

  text-align: center;

  padding: 10px 5px;

  border: 2px solid black;
  border-radius: 10px; 

  text-decoration: none;
  color: black;

  background-color: white;
}

.item-publish-status button:hover{

  border: 2px dashed black;
  border-radius: 10px;
}

/* Dashboard.jsx - Section B - Publish/Unpublish Button(s) */
/* Alternate Spans/Text - Custom Styling  */

#publish-secondary{
  display: none;
}

#publish-button:hover #publish-primary{
  display: none;
}

#publish-button:hover #publish-secondary{
  display: inline;
}

#unpublish-secondary{
  display: none;
}

#unpublish-button:hover #unpublish-primary{
  display: none;
}

#unpublish-button:hover #unpublish-secondary{
  display: inline;
}

iframe{

  padding: 25px;
  margin: 50px 0;

  border: 2px dotted black;
  border-radius: 10px;
}